body {
  font-family: "Times New Roman";
  max-width: 500px;
  margin: auto;
}

label {  display: block;
}

input {  border: 1px solid black;
}

input.error {  border-color: red;
}

.error-message {
  color: red;
  display: none;
}

.results {
  display: none;
}

.error-message.show {
  display: block;
}

.results.show {
  display: block;
}
